<div class="container">
  <h1>Welcome to Step'n Ultra Trader</h1>

  <div class="row">
    <div class="col">
      <label>
        Paste your SESSIONIDD2 here
        <input [(ngModel)]="cookie" />
        <button class="btn btn-success mr-2" (click)="fetch()">Run the magic</button>
      </label>
    </div>
    <div class="col">
      <button class="btn btn-warning" (click)="stop()">Stop</button>
      <button class="btn btn-info" (click)="cookie = ''">Clear cookie</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>
        Minimum price
        <input [(ngModel)]="filter.minPrice" />
      </label>
      <label>
        Maximum price
        <input [(ngModel)]="filter.maxPrice" />
      </label>
    </div>
    <div class="col">
      <label>
        Minimum level
        <input [(ngModel)]="filter.minLevel" />
      </label>
      <label>
        Maximum level
        <input [(ngModel)]="filter.maxLevel" />
      </label>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">Floor price: {{ floorPrice$ | async }}</div>
    <ng-container *ngIf="(balance$ | async) as balance">
      <div class="col">GST: {{ balance.gst }}</div>
      <div class="col">GMT: {{ balance.gmt }}</div>
      <div class="col">SOL: {{ balance.sol }}</div>
    </ng-container>
  </div>
  <hr/>
  <div class="row">
    <h3>Current Market</h3>
    <div class="col-12">
      <app-sneakers-table [sneakers]="sneakers$ | async" [buyOption]="true"></app-sneakers-table>
    </div>

  </div>

  <hr/>

  <div class="row">
    <h3>Buy history</h3>
    <div class="col-12">
      <app-sneakers-table [sneakers]="sneakersHistory$ | async"></app-sneakers-table>
    </div>
  </div>

  <hr/>

  <div class="row">
    <h3>Missed</h3>
    <div class="col-12">
      <app-sneakers-table [sneakers]="missedHistory$ | async" [noteColumn]="true"></app-sneakers-table>
    </div>
  </div>

</div>
