<div class="container">
  <h1>Step'n Ultra Trader 3000</h1>

  <div class="row">
    <div class="col">
      <label>
        Paste your SESSIONIDD2 here
        <input [(ngModel)]="cookie" />
        <button class="btn btn-success mr-2" (click)="fetch()">Run the magic</button>
      </label>
    </div>
    <div class="col">
      <button class="btn btn-warning" (click)="stop()">Stop</button>
      <button class="btn btn-info" (click)="cookie = ''">Clear cookie</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div>
        <input class="mr-2" type="radio" value="0" name="maxPriceType" [(ngModel)]="filter.maxPriceType"/>
        <label>
          Maximum price
          <input type="number" [(ngModel)]="filter.maxPrice" />
        </label>
      </div>
      <div>
        <input class="mr-2" type="radio" value="1" name="maxPriceType" [(ngModel)]="filter.maxPriceType"/>
        <label>
          Max SOL above floor Price
          <input type="number" [(ngModel)]="filter.maxSolAbove" />
          = {{ marketStat.floorPrice + (+filter.maxSolAbove) }}
        </label>
      </div>
    </div>
    <div class="col">
      <label>
        Minimum level
        <input type="number" [(ngModel)]="filter.minLevel" />
      </label>
      <label>
        Maximum level
        <input type="number" [(ngModel)]="filter.maxLevel" />
      </label>
    </div>
  </div>
  <hr/>
  <div class="row">
    <ng-container *ngIf="marketStat">
      <div class="col">Floor price: {{ marketStat.floorPrice }}</div>
      <div class="col">Avg 30 floor price: {{ marketStat.avg }}</div>
    </ng-container>
    <ng-container *ngIf="(balance$ | async) as balance">
      <div class="col">GST: {{ balance.gst }}</div>
      <div class="col">GMT: {{ balance.gmt }}</div>
      <div class="col">SOL: {{ balance.sol }}</div>
    </ng-container>
  </div>
  <hr/>
  <div class="row">
    <h3>Current Market</h3>
    <div class="col-12">
      <app-sneakers-table [sneakers]="sneakers$ | async" [buyOption]="true"></app-sneakers-table>
    </div>

  </div>

  <hr/>

  <div class="row">
    <h3>Buy history</h3>
    <div class="col-12">
      <app-sneakers-table [sneakers]="sneakersHistory$ | async"></app-sneakers-table>
    </div>
  </div>

  <hr/>

  <div class="row">
    <h3>Missed</h3>
    <div class="col-12">
      <app-sneakers-table [sneakers]="missedHistory$ | async" [noteColumn]="true"></app-sneakers-table>
    </div>
  </div>

</div>
